body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

#flychess-map {
  border: 2px solid #333;
  margin: 0 auto;
  display: block;
}

#chess-count-select,
#player-count-select,
#game-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#debug-toggle {
  width: 90px;
  height: 30px;        /* 固定高度，根据需要调 */
  line-height: 30px;   /* 使文本垂直居中 */
  text-align: center;
  padding: 0;          /* 去除默认内边距 */
  margin: 0;           /* 去除默认外边距 */
  box-sizing: border-box; /* 盒模型包含内边距和边框 */
  font-family: Arial, sans-serif; /* 统一字体 */
  font-size: 14px;     /* 固定字体大小 */
}

#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#start-btn {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 200px;
}

/* 人数按钮样式 */
#player-count-select button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

#player-count-select p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#chess-count-select p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* 棋子数按钮样式 */
#chess-count-select button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

