body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

#flychess-map {
  border: 2px solid #333;
  margin: 0 auto;
  display: block;
}

/* #random-number {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: rgb(60, 176, 147);
} */

#game-container {
  display: none;
}

#start-btn {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 200px;
}
