body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

#flychess-map {
  border: 2px solid #333;
  margin: 0 auto;
  display: block;
}

#chess-count-select,
#player-count-select,
#game-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#start-btn {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 200px;
}

/* 人数按钮样式 */
#player-count-select button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

#player-count-select p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#chess-count-select p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* 棋子数按钮样式 */
#chess-count-select button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

